<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="LogScript" value="
DECLARE
	@uiBatchID [uniqueidentifier] = '{1}', 
	@vcCategory [nvarchar](128) = '{2}',
	@vcLocation [nvarchar](1024) = '{3}',
	@vcMessage [nvarchar](max) = '{4}',
	@vcName [nvarchar](1024) = NULLIF('{5}', ''),
	@vcProvider [nvarchar](1024) = '{6}',
	@vcText [nvarchar](max) = NULLIF('{7}', ''),
	@xXml [xml] = NULLIF('{8}', '')

SET NOCOUNT ON;

IF @vcMessage = 'Reset'
BEGIN
	DELETE {0}
	WHERE [BatchID] = @uiBatchID
	AND ([Category] = @vcCategory OR @vcCategory IS NULL)
	AND ([Location] = @vcLocation OR @vcLocation IS NULL)

	SET @vcMessage = 'Commencing';
END

SET @vcText = CONVERT(nvarchar(128), GETDATE(), 126) +', '+ @vcMessage + CASE WHEN @vcText IS NULL THEN '' ELSE ' : ' + @vcText END

IF NOT EXISTS (
	SELECT * 
	FROM {0} (NOLOCK)
	WHERE [BatchID] = @uiBatchID
	AND [Category] = @vcCategory
	AND [Location] = @vcLocation
)
BEGIN
	INSERT {0} (BatchID, Category, CreateTime, [Location], [Message], [Name], [Provider], [Text], [Xml])
	SELECT @uiBatchID, @vcCategory, GETDATE(), @vcLocation, @vcMessage, @vcName,@vcProvider, @vcText, @xXml
END
ELSE
BEGIN
	UPDATE {0}
	SET
		[Category] = ISNULL(@vcCategory, [Category]), -- Update Category if there is something in @vcCategory
		[ChangeTime] = GETDATE(),
		[Location] = ISNULL(@vcLocation, [Location]), -- Update Location if there is something in @vcLocation
		[Message] = ISNULL(@vcMessage, '[NoMessage] after ' + [Message]),
		[Name] = ISNULL([Name], @vcName),
		[Provider] = ISNULL([Provider], @vcProvider),
		[Text] = CASE WHEN [Text] IS NOT NULL AND @vcText IS NOT NULL THEN [Text] +' | '+ @vcText WHEN [Text] IS NULL AND @vcText IS NOT NULL THEN @vcText WHEN [Text] IS NOT NULL AND @vcText IS NULL THEN [Text] END,
		[Xml] = ISNULL(@xXml, [Xml])
	WHERE [BatchID] = @uiBatchID
	AND [Category] = @vcCategory
	AND [Location] = @vcLocation
END
" />
		<add key="LogTableColumnDefinitions" value="
	[BatchID] [uniqueidentifier] NOT NULL,
	[Category] [nvarchar](128) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[ChangeTime] [datetime] NULL,
	[Location] [nvarchar](1024) NULL,
	[Message] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](1024) NULL,
	[Provider] [nvarchar](1024) NOT NULL,
	[Text] [nvarchar](max) NULL,
	[Xml] [xml] NULL
" />
		<add key="LogTableName" value="[SDBIDB].[tools].[dbo].[ActivityLog]" />
	</appSettings>
</configuration>